<header class="header_container">
  <!-- mon logo et mon nom, prenom  -->
  <a href="index.html"><img src="assets/images/logo.png" class="logo" alt=""></a>
  <div class="m">
    <p class="nom">thaer</p>
    <p class="prenom">heritani </p>
    <p class="text">Web Developer </p>
    <!-- icons réseaux sociaux -->
    <div class="sociaux">
      <a href="https://www.facebook.com" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-pinterest"></a>
    </div>
  </div>
  <div class="gsm">
    <p>GSM: 0468.37.49.08</p>
    <p>Email:
      heritani@gmail.com
    </p>
  </div>
</header>
<div class="separator"></div>
