footer {
  width: 880px;
  height: 70px;
  border: 2px solid;
  border-radius: 20px;
  background: rgb(1, 1, 255, 0.5);
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: foot-ani 5s infinite;
}
@keyframes foot-ani {
  0% {
    background-color: #0ba7ac;
  }
  25% {
    background-color: rgba(27, 233, 182, 0.5);
  }
  50% {
    background-color: rgba(77, 77, 253, 0.5);
  }
  75% {
    background-color: rgba(108, 108, 247, 0.5);
  }
  100% {
    background-color: rgb(1, 1, 255, 0.5);
  }
}
.separator {
  height: 20px;
  width: auto;
}
