<section>
  <div class="separator1"></div>
  <div class="sectionn">
    <h1>Qui suis-je</h1>
    <div class="separator"></div>
    <!-- mes services des langages de développement web -->
    <div class="section-list">
      <div class="separator-list"></div>
      <div class="list-m">
        <div class="question">
          <p>Nom :</p>
          <p>Age :</p>
          <p>Nationalité :</p>
          <p>Langues :</p>
          <p>Diplôme :</p>
        </div>
        <div class="separator-list"></div>
        <div class="repons">
          <p>Thaer Heritani</p>
          <p>27</p>
          <p>Syrien</p>
          <p>Français, Anglais, Arab,Turc</p>
          <p>BES Web Developer</p>
        </div>
      </div>
      <div class="separator-list"></div>
    </div>
    <div class="cv">
      <a href="cv.pdf" class="cv">Mon CV</a>
    </div>
  </div>
  <div class="separator1"></div>
</section>
