section {
  display: flex;
  column-gap: 20px;
}

.sectionn {
  /* 10 column * 70  */
  width: 880px;
  height: 560px;
  border: 2px solid;
  background: rgb(1, 1, 255, 0.5);
  border-radius: 30px;
  color: #ffffff;
  margin: 0 auto;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #0ba7ac;
  }
  25% {
    background-color: #1be9b680;
  }
  50% {
    background-color: rgba(77, 77, 253, 0.5);
  }
  75% {
    background-color: rgba(108, 108, 247, 0.5);
  }
  100% {
    background-color: #0101ff80;
  }
}

.separator1 {
  width: 70px;
}

h1 {
  width: 135px;
  height: 70px;
  margin-left: 360px;
  margin-bottom: 20px;
  display: flex;
  animation: h-ani 5s ease;
  justify-content: center;
  align-items: center;
}
@keyframes h-ani {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.list-m {
  display: flex;
  column-gap: 20px;
}

.question {
  color: white;
  line-height: 60px;
  font-size: 36px;
  animation: ques-ani 10s ease;
}
@keyframes ques-ani {
  0% {
    transform: translateX(-2000%);
  }
  100% {
    transform: translateX(0);
  }
}
.repons {
  color: white;
  line-height: 60px;
  font-size: 36px;
  animation: rep-ani 10s ease;
}
@keyframes rep-ani {
  0% {
    transform: translateX(1900%);
  }
  100% {
    transform: translateX(0);
  }
}
.pp {
  background: rgb(1, 1, 255, 0.6);
}
.cv {
  height: 70px;
  width: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv a {
  width: 160px;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid;
  border-radius: 20px;
  background-color: #30d9cf;
  align-content: center;
  position: relative;
  animation: 0.8s h infinite alternate;
}
.cv a:hover {
  color: #007bb5;
}
.section-list {
  display: flex;
  column-gap: 20px;
}

.separator-list {
  width: 67px;
  height: 340px;
}
