<div class="separator"></div>
<section>
  <div class="separator1"></div>
  <div class="sectionn">
    <h1>Contact</h1>
    <div class="separator"></div>
    <!-- mes services des langages de développement web -->
    <div class="section-list">
      <div class="separator-list"></div>
      <form action="#">
        <div class="fname"><input type="text" id="fname" name="fname" placeholder="Votre Nom..." value=""></div>
        <div class="lname"><input type="text" id="lname" name="lname" placeholder="Votre Prenom..." value=""></div>
        <div class="email"><input type="email" id="email" name="email" placeholder="Votre Email..." value=""></div>
        <textarea name="message" id="textarea" placeholder="Votre Message..." cols="30" rows="10"></textarea>
        <div class="buttonn">Envoyer</div>
      </form>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2532.5099150445194!2d5.621374315683558!3d50.599061779496104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0f71dbb453e91%3A0x348c47c39ead9837!2sAv.%20Fran%C3%A7ois%20Bovesse%20140%20B%2C%204053%20Chaudfontaine!5e0!3m2!1sen!2sbe!4v1645698064138!5m2!1sen!2sbe" class="ifram" ></iframe>
      <div class="separator-list"></div>
    </div>
  </div>
  <div class="separator1"></div>
</section>
