<input type="checkbox" id="navi-toggle" class="checkbox" />
<label for="navi-toggle" class="button">
  <span class="icon">&nbsp;</span>
</label>
<div class="background">&nbsp;</div>

<!-- nav -->
<nav class="nav">
  <ul class="list">
    <li class="item"> <a href="qui_suis_je.html">Qui suis-je</a> </li>
    <li class="item"> <a href="portfolio.html">Portfolio</a> </li>
    <li class="item"> <a href="service.html">Service</a> </li>
    <li class="item"> <a href="contact.html">Contact</a> </li>
  </ul>
</nav>


<!-- mon logo
   link pour ouvrir les pages
   -->
<div class="logo1">
  <a routerLink="/page/presentation" ><img src="assets/images/logo.png"    alt=""></a>
</div>
